<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputTitle">Title</label>
    <!-- <input type="text" class="form-control" id="inputTitle" placeholder="Title"> -->
    <%= text_field(:book, :title, size: 20) %>
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <!-- <input type="text" class="form-control" id="inputDescription" placeholder="Password"> -->
    <%= text_field(:book, :description, size: 80) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
