<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6">
        <div class="row">
          <p>Title: <span><%= @book.title %></span></p>
        </div>
        <div class="row">
          <p>Author: <span><%= @book.author %></span></p>
        </div>
        <div class="row">
          <p>Image: <span><%= @book.url %></span></p>
        </div>
        <div class="row">
          <p>Description:</p>
          <div class="col-6">
            <h5 style="word-wrap: break-word;">
              <%= simple_format(@book.description) %>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-lg-6">
        <%= link_to 'Edit', edit_book_path(@book) , { class: "btn btn-primary btn-lg" } %>
        <%= link_to 'Back', books_path, { class: "btn btn-primary btn-lg" } %>
      </div>
    </div>
  </div>
</div>
